/*=============================
	03. Banner CSS Start
===============================*/
.ep-banner-section{
  .banner-content{
    padding: 158px 0 168px 0;
    .sub-title{
      padding-bottom: 15px;
    }
    p{
      padding: 15px 0;
    }
    .banner-button{

    }
  }
}